<% layout("/layouts/boilerplate") %>

    <div class="container1" >
        <div class="container1-inner">
            <div class="home-search-title">Search here for  any  Mods</div>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Search</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <% var displayedListings=[]; %>
                        <% for(listing of allListings){ %>
                            <% var listingKey=listing.company + '|' + listing.model + '|' + listing.type; %>
                                <% if (!displayedListings.includes(listingKey)) { %>
                                    <a href="/<%= listing._id%>/searchedContent">
                                        <%= listing.company %>&nbsp;<%= listing.model %>&nbsp;<%= listing.type %>
                                    </a>
                                    <% displayedListings.push(listingKey); %>
                                        <% } %>
                                            <% } %>


                </div>
            </div>
        </div>
    </div>

    <div class="home-container2">
        <% for(let listing of allListings){ %>


            <a href="/<%= listing.id %>/showListing">
                <div class="listing-container">
                    <div class="listing-img-container">
                        <img src="<%= listing.image.url%>" alt="listing image" class="listing-img">
                    </div>
                    <div class="listing-details" style="padding-top: 20px; font-size: 18px; color: black;">
                        <p>
                            <%= listing.company %>&nbsp;<%= listing.model %>
                        </p>
                        <p>
                            <%= listing.title %>
                        </p>
                        <p>
                            Price:&nbsp;&nbsp;<%= listing.price.toLocaleString("en-IN", { style: "currency" ,
                                currency: "INR" , minimumFractionDigits: 0 }) %>
                        </p>


                    </div>


                </div>
            </a>

            <% } %>
    </div>

    <script src="/js/dropdown.js"></script>